<!-- Sidebar -->
<div id="sidebar">
	<ul id="sidebar-menu" class="sidebar-nav">
		<li class="sidebar-brand">
			<a id="sidebar-menu-toggle" (click)="toggleSideBar()">
				<span style="float: left">Dashboard</span>
				<span id="sidebar-main-icon" class="glyphicon glyphicon-align-justify"></span>
			</a>
		</li>
	</ul>
	<ul class="sidebar-nav">
		<li>
			<a [attr.class]="router.url.indexOf('/dashboard/home') != -1 ? 'active' : ''" routerLink="/dashboard/home" title="Dashboard home">
				<span style="float: left">Dashboard home</span>
				<span class="sidebar-sub-icon glyphicon fa fa-dashboard fa-lg"></span>
			</a>
		</li>		
		<li>
			<a [attr.class]="router.url.indexOf('/dashboard/message') != -1 ? 'active' : ''" routerLink="/dashboard/message" title="Messages">
				<span style="float: left">Messages</span>
				<span class="sidebar-sub-icon glyphicon fa fa-envelope fa-lg"></span>
			</a>
		</li>
		<li>
			<a [attr.class]="router.url.indexOf('/dashboard/service') != -1 ? 'active' : ''" routerLink="/dashboard/service" title="Services">
				<span style="float: left">Jobs</span>
				<span class="sidebar-sub-icon glyphicon fa fa-tasks fa-lg"></span>
			</a>
		</li>
		<li>
			<a [attr.class]="router.url.indexOf('/dashboard/subscription') != -1 ? 'active' : ''" routerLink="/dashboard/subscription" title="Subscriptions">
				<span style="float: left">Subscriptions</span>
				<span class="sidebar-sub-icon glyphicon fa fa-newspaper-o fa-lg"></span>
			</a>
		</li>
		<li>
			<a [attr.class]="router.url.indexOf('/dashboard/community') != -1 ? 'active' : ''" routerLink="/dashboard/community" title="Community">
				<span style="float: left">Communities</span>
				<span class="sidebar-sub-icon glyphicon fa fa-group fa-lg"></span>
			</a>
		</li>
		<li>
			<a [attr.class]="router.url.indexOf('/dashboard/payment-pending') != -1 ? 'active' : ''" routerLink="/dashboard/payment-pending" title="Payments">
				<span style="float: left">Payments</span>
				<span class="sidebar-sub-icon glyphicon fa fa-money fa-lg"></span>
			</a>
		</li>
		<li>
			<a [attr.class]="router.url.indexOf('/dashboard/ticket') != -1 ? 'active' : ''" routerLink="/dashboard/ticket" title="Help Center">
				<span style="float: left">Help Center</span>
				<span class="sidebar-sub-icon glyphicon fa fa-life-ring fa-lg"></span>
			</a>
		</li>
		<li>
			<a [attr.class]="router.url.indexOf('/dashboard/profile-edit') != -1 ? 'active' : ''" routerLink="/dashboard/profile-edit" title="Profile">
				<span style="float: left">Profile</span>
				<span class="sidebar-sub-icon glyphicon fa fa-info fa-lg"></span>
			</a>
		</li>
	</ul>
</div>
<!--/#Sidebar -->