<div class="row">
	<div class="col-xs-12">
		<div>
			<!--<h1 class="dashboard-heading">{{profile.firstName}} {{profile.middleName}} {{profile.lastName}}</h1>
			<span style="margin-left: 2px;">Email: {{profile.email}}</span>
			<br>
			<span style="margin-left: 2px; text-align: justify">Phone: +919945040191 </span>-->
			<h1 class="dashboard-heading">412 Purva Supreme</h1>
			<span style="margin-left: 2px;">#412, Purva Supreme, Thimaiah cross, 2nd Main, RMV extension, Bangalore-89</span>
		</div>
		<!--<form class="form-inline dashboard-action-form">
			<a routerLink="/dashboard/profile-edit" class="btn btn-primary" title="Edit Profile"><i class="fa fa-edit fa-lg"></i></a>
		</form>-->
		<form class="form-inline dashboard-action-form ng-untouched ng-pristine ng-valid">
			<div class="btn-group">
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="Action menu" type="button">
					<i class="fa fa-list fa-lg"></i>
				</button>
				<ul class="dropdown-menu">
					<li><a><i class="fa fa-list" style="padding-right: 5px"></i>Choose another property</a></li>
					<li role="separator" class="divider"></li>
					<li><a routerlink="/account/dashboard/service"><i class="fa fa-building-o" style="padding-right: 5px"></i>Ramaiah Enclave</a></li>
				</ul>
			</div>
		</form>					
	</div>
</div>

<div class="row" style="margin-top: 20px;">
	<div class="col-xs-12">
		<router-outlet></router-outlet>
	</div>
</div>