<div class="row">
	<div class="col-xs-12">
		<div>
			<h1 class="dashboard-heading">Services</h1>
		</div>
		<form class="form-inline dashboard-action-form">
			<a routerLink="/admin-dashboard/services/add" class="btn btn-primary" title="Add Service"><i class="fa fa-plus fa-lg"></i></a>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="dashboard-widget">
			<div class="dashboard-widget-title">
				<div class="row">
					<h2 class="col-xs-12 col-sm-4" style="margin-top:10px">All services</h2>
					<div class="form-inline col-xs-12 col-sm-5">
						<!--<div class="dashboard-widget-title-form">
							<label style="font-weight: bold">Filter by type:</label>
							<select id="selectedType" class="form-control" [(ngModel)]="selectedType" name="selectedType" (change)="getMaintenanceServicesByName()">
								<option value="ALL">ALL</option>
								<option value="USER">USER</option>
								<option value="CUSTOMER">CUSTOMER</option>
							</select>
							<div class="clearfix"></div>
						</div>-->
					</div>
					<div class="form-inline col-xs-12 col-sm-3">
						<form role="form" #searchForm="ngForm" (ngSubmit)="searchMaintenanceService(searchFilter.value);">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search Service" id="searchFilter" name="searchFilter" #searchFilter required>
							<span class="input-group-btn">
								<button class="btn btn-danger" type="submit"><i class="fa fa-search fa-lg"></i></button>
							</span>
						</div>
						</form>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="dashboard-widget-content">
				<div class="dashboard-paginator-top-div">
					<maintenance-service-paginator [paginator]="paginator" (pageChange)="handlePageSelection($event)"></maintenance-service-paginator>
				</div>
				<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead class="thead-default" style="background: black; color: white">
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>Category</th>
							<th>Applicable to</th>
							<th>Amenities</th>
							<th>Flags</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let maintenanceService of maintenanceServices" (click)="selectMaintenanceServices(maintenanceService)"
							[class.selected]="maintenanceService === selectedMaintenanceService">
							<th scope="row">
								<a routerLink="/admin-dashboard/services/view/{{maintenanceService.id}}" title="View service">{{maintenanceService.name}}</a>
							</th>									
							<td>{{maintenanceService.type}}</td>
							<td>{{maintenanceService.category}}</td>
							<td>{{maintenanceService.applicableTo}}</td>
							<td>{{maintenanceService.amenities}}</td>
							<td>
								<i *ngIf="maintenanceService.canSubscribe" class="fa fa-lg fa-newspaper-o"></i>
								<i *ngIf="!maintenanceService.canSubscribe" class="fa fa-lg fa-newspaper-o" style="text-decoration: line-through; color: #d9534f"></i>,
								<i *ngIf="maintenanceService.canRequestOneTime" class="fa fa-lg">1</i>
								<i *ngIf="!maintenanceService.canRequestOneTime" class="fa fa-lg">M</i>,
								<i *ngIf="maintenanceService.active" class="fa fa-lg fa-unlock"></i>
								<i *ngIf="!maintenanceService.active" class="fa fa-lg fa-lock" style="color: #d9534f"></i>
								<i *ngIf="maintenanceService.deleted" class="fa fa-lg fa-trash-o" style="color: #d9534f"></i>
							</td>
							<td>
								<maintenance-service-action-buttons 
									[maintenanceService]="maintenanceService" [listPage]="true" (editMaintenanceService)="editMaintenanceService($event)">
								</maintenance-service-action-buttons>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
				<div class="dashboard-paginator-bottom-div">
					<maintenance-service-paginator [paginator]="paginator" (pageChange)="handlePageSelection($event)"></maintenance-service-paginator>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/.row-->


<maintenance-service-action-modals 
	[maintenanceService]="selectedMaintenanceService" (deleteMaintenanceService)="deleteMaintenanceService($event)"
></maintenance-service-action-modals>