<div class="dashboard-widget">
	<app-account-property-begin></app-account-property-begin>
	<div class="dashboard-widget-content">
		<table class="table table-hover table-striped" style="overflow: hidden">
			<thead>
				<tr>
					<th>
						<div class="row">
							<div class="col-sm-4 col-xs-12">Name</div>
							<div class="col-sm-2 col-xs-12">Type</div>
							<div class="col-sm-6 col-xs-12">Location</div>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div class="row">
							<div class="col-sm-4 col-xs-12">1. <strong><a routerLink="/dashboard/property-detail/1">412 Purva Supreme</a></strong></div>
							<div class="col-sm-2 col-xs-12">Flat</div>
							<div class="col-sm-6 col-xs-12">#412, Purva Supreme, Thimaiah cross, 2nd Main, RMV extension, Bangalore-89</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="row">
							<div class="col-sm-4 col-xs-12">2. <strong><a routerLink="/dashboard/property-detail/2">Ramaiah Enclave</a></strong></div>
							<div class="col-sm-2 col-xs-12">Apartment</div>
							<div class="col-sm-6 col-xs-12">Ramaiah Enclave, Thimaiah cross, 2nd Main, RMV extension, Bangalore-89</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="clearfix"></div>
		<div class="dashboard-paginator-bottom-div">
			<account-paginator [paginator]="paginator" (pageChange)="handlePageSelection($event)"></account-paginator>
		</div>
	</div>
</div>