<div class="dashboard-widget">
	<app-account-property-begin></app-account-property-begin>
	<div class="dashboard-widget-content">
		<div class="panel panel-default">
			<div class="panel-heading active">
				<h3 class="panel-title">
					<a style="font-size: 14px">
						<strong [hidden]="propertyId === 2">412 Purva Supreme</strong>
						<strong [hidden]="propertyId === 1">Ramaiah Enclave</strong>
					</a>
				</h3>
			</div>
			<div class="panel-collapse">
				<div class="panel-body">
					<form class="form-inline pull-right" style="margin-bottom: 10px">
						<a routerLink="/dashboard/property" class="btn btn-danger" title="Back"><i class="fa fa-angle-left fa-lg" style="padding-right: 5px"></i>Back</a>
					</form>
					<table [hidden]="propertyId === 2" class="table table-hover table-striped" style="overflow: hidden">
						<tbody>
							<tr>
								<td>
									<div class="row">
										<div class="col-sm-4 col-xs-12"><strong>Name</strong></div>
										<div class="col-sm-8 col-xs-12"><a>412 Purva Supreme</a></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row">
										<div class="col-sm-4 col-xs-12"><strong>Type</strong></div>
										<div class="col-sm-8 col-xs-12"><a>Flat</a></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row">
										<div class="col-sm-4 col-xs-12"><strong>Location</strong></div>
										<div class="col-sm-8 col-xs-12"><a>#412, Purva Supreme, Thimaiah cross, 2nd Main, RMV extension, Bangalore-89</a></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row">
										<div class="col-sm-4 col-xs-12"><strong>Area(In sq.ft)</strong></div>
										<div class="col-sm-8 col-xs-12"><a>4200</a></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row">
										<div class="col-sm-4 col-xs-12"><strong>Number of Bedrooms</strong></div>
										<div class="col-sm-8 col-xs-12"><a>4</a></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row">
										<div class="col-sm-4 col-xs-12"><strong>Number of Bathrooms</strong></div>
										<div class="col-sm-8 col-xs-12"><a>4</a></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row">
										<div class="col-sm-4 col-xs-12"><strong>Other features</strong></div>
										<div class="col-sm-8 col-xs-12"><a>TO BE DECIDED</a></div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<table [hidden]="propertyId === 1" class="table table-hover table-striped" style="overflow: hidden">
						<tbody>
							<tr>
								<td>
									<div class="row">
										<div class="col-sm-4 col-xs-12"><strong>Name</strong></div>
										<div class="col-sm-8 col-xs-12"><a>Ramaiah Enclave</a></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row">
										<div class="col-sm-4 col-xs-12"><strong>Type</strong></div>
										<div class="col-sm-8 col-xs-12"><a>Apartment</a></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row">
										<div class="col-sm-4 col-xs-12"><strong>Location</strong></div>
										<div class="col-sm-8 col-xs-12"><a>Ramaiah Enclave, Thimaiah cross, 2nd Main, RMV extension, Bangalore-89</a></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row">
										<div class="col-sm-4 col-xs-12"><strong>Area(In sq.ft)</strong></div>
										<div class="col-sm-8 col-xs-12"><a>42000</a></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row">
										<div class="col-sm-4 col-xs-12"><strong>Number of flats</strong></div>
										<div class="col-sm-8 col-xs-12"><a>100</a></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row">
										<div class="col-sm-4 col-xs-12"><strong>Number of floors</strong></div>
										<div class="col-sm-8 col-xs-12"><a>4</a></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row">
										<div class="col-sm-4 col-xs-12"><strong>Features</strong></div>
										<div class="col-sm-8 col-xs-12">
											<a>Garden,Wifi, Play Area, CCTV, Intercom, Swimming Pool, Rain water harvesting, 24 Hour Backup, TO BE DECIDED</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>