<div class="row">
	<div class="col-xs-12">
		<div style="border-bottom: 1px solid black;">
			<h1 class="dashboard-heading">Edit Coupon</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<form role="form" #couponForm="ngForm" (ngSubmit)="onSubmit()">
			<fieldset>
				<div id="message" *ngIf="response.flags.available" [attr.class]="response.flags.error ? 'error col-sm-12' : 'col-sm-12'">
					<div id="message-icon" [attr.class]="response.flags.error ? 'glyphicon glyphicon-remove error' : 'glyphicon glyphicon-chevron-right'"></div>
					<div id="message-text">
						<span>{{response.message}}</span>
						<ul *ngIf="response.fieldErrors.length > 0">
							<li *ngFor="let fieldError of response.fieldErrors">{{fieldError}}</li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
				<br/>

				<coupon-fields [(coupon)]="coupon" [editMode]="editMode"></coupon-fields>

				<div class="form-group">
					<div>
						<button type="submit" class="btn btn-primary-dashboard"
							[disabled]="!couponForm.form.valid || !coupon.validTo || !coupon.validFrom || response.flags.loading">
							<i class="fa fa-save" style="padding-right: 5px"></i>Save Coupon
						</button>
						<a routerLink="/admin-dashboard/coupons" class="btn btn-primary-dashboard" title="List coupons">
							<i class="fa fa-list" style="padding-right: 5px"></i>List Coupons
						</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>