<div class="dashboard-widget-title">
	<div class="row">
		<h2 class="col-xs-10 col-sm-3" style="margin-top:10px">Tickets</h2>
		<div class="col-xs-2 col-sm-9">
			<div class="dashboard-widget-title-mobile-menu btn-group">
				<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" 
					title="Service Type" style="background:#d9534f;color:white">
					<i class="fa fa-list fa-lg"></i>&nbsp;&nbsp;<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li data-toggle="modal" data-target="#ticketCreateModal">
						<a style="margin-top: 0px">Report a problem</a>
					</li>
				</ul>
			</div>
			<ul class="dashboard-widget-title-desktop-menu nav nav-pills pull-right">
				<li class="active" data-toggle="modal" data-target="#ticketCreateModal">
					<a style="margin-top: 0px">Report a problem</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="clearfix"></div>
</div>