<div class="dashboard-widget">
	<app-account-community-begin></app-account-community-begin>
	<div class="dashboard-widget-content">
		<ul class="messages">
			<li>
			<img src="assets/images/avatar.png" class="avatar" alt="Avatar">
			<div class="message_wrapper">
				<h4 class="heading">Yathiraj</h4>
				<p class="message_date_block">
					<span class="message_date">308, Purva Supreme</span>
				</p>
			</div>
			</li>
			<li>
			<img src="assets/images/avatar.png" class="avatar" alt="Avatar">
			<div class="message_wrapper">
				<h4 class="heading">Arun Kumar Yathiraj</h4>
				<p class="message_date_block">
					<span class="message_date">412, Purva Supreme</span>
				</p>
			</div>
			</li>
		</ul>
		<!-- end recent activity -->
	</div>
</div>