<div class="dashboard-widget">
	<app-account-payment-begin></app-account-payment-begin>
	<div class="dashboard-widget-content">

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading active">
                    <h3 class="panel-title" style="color: white">
                        Pay <i class="fa fa-rupee"></i>24200
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                    <div class="form-group">
                        <label for="cardNumber">
                            CARD NUMBER</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <label for="expiryMonth">EXPIRY DATE</label>
								<br/>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
                                </div>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" class="form-control" id="expityYear" placeholder="YY" required />
								</div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="cvCode">
                                    CV CODE</label>
                                <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <a routerLink="/dashboard/payment-success" class="btn btn-danger btn-lg btn-block" role="button">Continue</a>
        </div>

		<div class="col-xs-12 col-md-8">
			<p class="lead"><strong>Payment Methods:</strong></p>
			<img src="assets/images/visa.png" alt="Visa">
			<img src="assets/images/mastercard.png" alt="Mastercard">
			<img src="assets/images/american-express.png" alt="American Express">
			<img src="assets/images/paypal.png" alt="Paypal">
			<p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
				Safe and secure payments. Online payments powered by Blabla.
				You will be redirected to your respective bank site for 3D authentication.
			</p>
		</div>
    </div>

	</div>
</div>