<div class="dashboard-widget-title">
	<div class="row">
		<h2 class="col-xs-10 col-sm-4" style="margin-top:10px">Payments</h2>
		<div class="col-xs-2 col-sm-8">
			<div class="dashboard-widget-title-mobile-menu btn-group">
				<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" 
					title="Property actions" style="background:#d9534f;color:white">
					<i class="fa fa-list fa-lg"></i>&nbsp;&nbsp;<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li [attr.class]="router.url=='/dashboard/payment-pending' ? 'dashboard-mobile-display-hider' : ''">
						<a routerLink="/dashboard/payment-pending">Pending</a>
					</li>
					<li [attr.class]="router.url=='/dashboard/payment-history' ? 'dashboard-mobile-display-hider' : ''">
						<a routerLink="/dashboard/payment-history" style="margin-top: 0px">History</a>
					</li>
				</ul>
			</div>
			<ul class="dashboard-widget-title-desktop-menu nav nav-pills pull-right">
				<li [attr.class]="router.url=='/dashboard/payment-pending' ? 'active' : ''">
					<a routerLink="/dashboard/payment-pending">Pending</a>
				</li>
				<li [attr.class]="router.url=='/dashboard/payment-history' ? 'active' : ''">
					<a routerLink="/dashboard/payment-history">History</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="clearfix"></div>
</div>