<div class="dashboard-widget">
	<app-account-payment-begin></app-account-payment-begin>
	<div class="dashboard-widget-content">
		<div class="panel panel-default">
			<div class="panel-heading active">
				<h3 class="panel-title">
					<a style="font-size: 14px">
						Payment success
					</a>
				</h3>
			</div>
			<div class="panel-collapse">
				<div class="panel-body">
					Your payment of amount <i class="fa fa-rupee"></i>24200 is successful. Your transaction ID is blabla. Please note the transaction ID for future references.
				</div>
			</div>
		</div>
	</div>
</div>