<div class="dashboard-widget">
	<app-user-service-begin></app-user-service-begin>
	<div class="dashboard-widget-content">
		<div class="accordion">
			<div class="panel-group" id="accordion1">
				<div class="panel panel-default">
				<div class="panel-heading active">
					<h3 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" style="font-size: 14px">
						<strong>Painting</strong><span class="dashboard-mobile-display-hider">- ON HOLD</span>
						<i class="fa fa-angle-right pull-right"></i>
					</a>
					</h3>
				</div>
				<div id="collapseOne1" class="panel-collapse collapse">
					<div class="panel-body">
						<form class="form-inline pull-right" style="margin-bottom: 10px">
							<div class="btn-group">
								<button type="button" class="btn btn-danger" title="Pay">
									Pay now
								</button>
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Action menu">
									Modify<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li data-toggle="modal" data-target="#serviceMessageModal">
										<a><i class="fa fa-envelope" style="padding-right: 5px"></i>Send message</a>
									</li>
									<li data-toggle="modal" data-target="#serviceConsentModal">
										<a><i class="fa fa-gavel" style="padding-right: 5px"></i>Express consent</a>
									</li>
									<li data-toggle="modal" data-target="#serviceCancelModal">
										<a><i class="fa fa-edit" style="padding-right: 5px"></i>Cancel Job</a>
									</li>
								</ul>
							</div>
						</form>
						<h3 style="color: black; font-size: 15px; font-weight: bold; margin: 10px 0;">Estimated date of completion: 20 days from date of payment.</h3>
						<ul class="list-unstyled timeline">
							<li>
								<div class="block">
									<div class="tags">
										<span class="tag">SCHEDULED</span>
									</div>
									<div class="block_content">
										<h2 class="title"><a>Job scheduled</a></h2>
										<div class="byline">
											<span>On 12th January 2017</span> by <a>Arun</a>
										</div>
										<p class="excerpt"><strong>Request content</strong>: I want to get my home interior painted. Please provide a quotation and start the job at the earliest.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="block">
									<div class="tags">
										<span class="tag">ASSESSING</span>
									</div>
									<div class="block_content">
										<h2 class="title"><a>Assessment in progress</a></h2>
										<div class="byline">
											<span>On 12th January 2017</span> by <a>Admin</a>
										</div>
										<p class="excerpt">Admin is currently assessing the request. We will get back to you shortly.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="block">
									<div class="tags">
										<span class="tag">ASSESSED</span>
									</div>
									<div class="block_content">
										<h2 class="title"><a>Quote ready</a></h2>
										<div class="byline">
											<span>On 14th January 2017</span> by <a>Admin</a>
										</div>
										<p class="excerpt">We will need 20 days to paint the house. We have sent the quotation to your mail ID. 
											We will start work on an advance payment of 10,000 rupees.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="block">
									<div class="tags">
										<span class="tag">ON HOLD</span>
									</div>
									<div class="block_content">
										<h2 class="title"><a>Awaiting Payment</a></h2>
										<div class="byline">
											<span>On 14th January 2017</span> by <a>Admin</a>
										</div>
										<p class="excerpt">Work will commence on payment of advance amount.</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				</div>





				<div class="panel panel-default">
					<div class="panel-heading active">
						<h3 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" style="font-size: 14px">
							<strong>Lift Maintenance</strong><span class="dashboard-mobile-display-hider">- IN PROG</span>
							<i class="fa fa-angle-right pull-right"></i>
						</a>
						</h3>
					</div>
					<div id="collapseThree1" class="panel-collapse collapse in">
						<div class="panel-body">
							<form class="form-inline pull-right" style="margin-bottom: 10px">
								<div class="btn-group">
									<button type="button" class="btn btn-danger" title="Pay" disabled>
										Pay now
									</button>
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Action menu">
										Modify<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li data-toggle="modal" data-target="#serviceMessageModal">
											<a><i class="fa fa-envelope" style="padding-right: 5px"></i>Send message</a>
										</li>
										<li data-toggle="modal" data-target="#serviceCancelModal">
											<a><i class="fa fa-edit" style="padding-right: 5px"></i>Cancel Job</a>
										</li>
									</ul>
								</div>
							</form>
							<h3 style="color: black; font-size: 15px; font-weight: bold; margin: 10px 0;">Estimated date of completion: 19th December 2017.</h3>
							<ul class="list-unstyled timeline" style="margin-top: 10px;">
								<li>
									<div class="block">
										<div class="tags">
											<span class="tag">SCHEDULED</span>
										</div>
										<div class="block_content">
											<h2 class="title"><a>Job scheduled</a></h2>
											<div class="byline">
												<span>On 10th January 2017</span> by <a>System</a>
											</div>
											<p class="excerpt">Job scheduled automatically as per the contract given in your subscription. <a>View subscription</a></p>
										</div>
									</div>
								</li>
								<li>
									<div class="block">
										<div class="tags">
											<span class="tag">ACCEPTED</span>
										</div>
										<div class="block_content">
											<h2 class="title"><a>Job accepted</a></h2>
											<div class="byline">
												<span>On 10th January 2017</span> by <a>Admin</a>
											</div>
											<p class="excerpt">Job accepted and is ready to be assigned.</p>
										</div>
									</div>
								</li>
								<li>
									<div class="block">
										<div class="tags">
											<span class="tag">ASSIGNED</span>
										</div>
										<div class="block_content">
											<h2 class="title"><a>Job assigned</a></h2>
											<div class="byline">
												<span>On 10th January 2017</span> by <a>Admin</a>
											</div>
											<p class="excerpt">Job assigned to Mario. Mario will be contacting you shortly. You can contact Mario at 9XXXXXXXXX.</p>
										</div>
									</div>
								</li>
								<li>
									<div class="block">
										<div class="tags">
											<span class="tag">IN PROGRESS</span>
										</div>
										<div class="block_content">
											<h2 class="title"><a>Job started</a></h2>
											<div class="byline">
												<span>On 11th January 2017</span> by <a>Mario</a>
											</div>
											<p class="excerpt">Job started by Mario. Estimated date of completion set to 17th January 2017</p>
										</div>
									</div>
								</li>
								<li>
									<div class="block">
										<div class="tags">
											<span class="tag">ON HOLD</span>
										</div>
										<div class="block_content">
											<h2 class="title"><a>Job put on hold</a></h2>
											<div class="byline">
												<span>On 11th January 2017</span> by <a>Mario</a>
											</div>
											<p class="excerpt">5 components have to be replaced. Customer wants to procure the material himself.</p>
										</div>
									</div>
								</li>
								<li>
									<div class="block">
										<div class="tags">
											<span class="tag">IN PROGRESS</span>
										</div>
										<div class="block_content">
											<h2 class="title"><a>Job resumed</a></h2>
											<div class="byline">
												<span>On 13th January 2017</span> by <a>System</a>
											</div>
											<p class="excerpt">Arun resumed. Message sent from Arun: I have procured the materials.</p>
										</div>
									</div>
								</li>
								<li>
									<div class="block">
										<div class="tags">
											<span class="tag">IN PROGRESS</span>
										</div>
										<div class="block_content">
											<h2 class="title"><a>Job in progress</a></h2>
											<div class="byline">
												<span>On 13th January 2017</span> by <a>Mario</a>
											</div>
											<p class="excerpt">Customer has supplied the material. Estimated date of completion set to 19th December 2017.</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Service Message Modal -->
<div id="serviceMessageModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content modal-sm">
      <div class="modal-header" style="background: #c52d2f">
        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
        <h4 class="modal-title" style="color: white">Send Message</h4>
      </div>
	  <form role="form">
		<div class="modal-body">
			<fieldset>
				<div class="form-group row">
					<label for="message" class="col-xs-2 control-label">Message</label>
					<div class="col-xs-10">
						<textarea class="form-control" style="resize: none;" rows="5" id="comment" maxlength="500"></textarea>
					</div>
					<div class="col-xs-offset-2 col-xs-10 form-control-error-message">
						(Upto 500 characters allowed.)
					</div>
				</div>
			</fieldset>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal" style="font-weight: bold">Send message</button>
			<button type="button" class="btn btn-default" data-dismiss="modal" style="font-weight: bold">Cancel</button>
		</div>
	  </form>
    </div>
  </div>
</div>

<!-- Service Consent Modal -->
<div id="serviceConsentModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content modal-sm">
      <div class="modal-header" style="background: #c52d2f">
        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
        <h4 class="modal-title" style="color: white">Express Consent</h4>
      </div>
	  <form role="form">
		<div class="modal-body">
			<fieldset>
				<div class="form-group row">
					<label for="message" class="col-sm-6 col-xs-12 control-label">Do you agree with our proposal?</label>
					<div class="col-sm-6 col-xs-12">
						<div class="radio">
							<label><input type="radio" name="optradio">I AGREE</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="optradio">I DISAGREE</label>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="message" class="col-xs-2 control-label">Message</label>
					<div class="col-xs-10">
						<textarea class="form-control" style="resize: none;" rows="5" id="comment" maxlength="500"></textarea>
					</div>
					<div class="col-xs-offset-2 col-xs-10 form-control-error-message">
						(Upto 500 characters allowed.)
					</div>
				</div>
			</fieldset>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal" style="font-weight: bold">Express consent</button>
			<button type="button" class="btn btn-default" data-dismiss="modal" style="font-weight: bold">Cancel</button>
		</div>
	  </form>
    </div>
  </div>
</div>

<!-- Service Cancel Modal -->
<div id="serviceCancelModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content modal-sm">
      <div class="modal-header" style="background: #c52d2f">
        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
        <h4 class="modal-title" style="color: white">Are you sure you want to cancel the job?</h4>
      </div>
	  <div class="modal-body">
		<fieldset>
			<div class="form-group row">
				<label for="reason" class="col-xs-2 control-label">Reason *</label>
				<div class="col-xs-10">
					<select class="form-control" name="reason" required>
						<option value="">Select a reason</option>
						<option value="TIMELINE">I don't have time now</option>
						<option value="DELAY">I am not happy with the delay</option>
						<option value="NOTHAPPY">I am not happy with the service</option>
						<option value="EXPENSIVE">I find the service expensive</option>
						<option value="OTHER">Some personal reason that I cannot mention here</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="message" class="col-xs-2 control-label">Message</label>
				<div class="col-xs-10">
					<textarea class="form-control" style="resize: none;" rows="5" id="comment" maxlength="500"></textarea>
				</div>
				<div class="col-xs-offset-2 col-xs-10 form-control-error-message">
					(Upto 500 characters allowed.)
				</div>
			</div>
		</fieldset>
	  </div>
      <div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal" style="font-weight: bold">YES</button>
			<button type="button" class="btn btn-default" data-dismiss="modal" style="font-weight: bold">NO</button>
      </div>
    </div>
  </div>
</div>