<div class="dashboard-widget">
	<app-user-service-begin></app-user-service-begin>
	<div class="dashboard-widget-content">
		<ul class="list-unstyled timeline">
		<li>
			<div class="block">
			<div class="tags">
				<a href="" class="tag"> <span>22 February 2017</span> </a>
			</div>
			<div class="block_content">
				<div class="byline"></div>
				<p class="excerpt">
				<span>Lift Maintenance &nbsp; &nbsp;<a href="#">View</a>&nbsp; &nbsp;<a href="#">Modify</a></span>
				</p>
			</div>
			</div>
		</li>
		<li>
			<div class="block">
			<div class="tags">
				<a href="" class="tag"> <span>22 February 2017</span> </a>
			</div>
			<div class="block_content">
				<div class="byline"></div>
				<p class="excerpt">
				<span>Change Sanitary Pipes &nbsp; &nbsp;<a href="#">View</a>&nbsp; &nbsp;<a href="#">Modify</a></span>
				</p>
			</div>
			</div>
		</li>
		<li>
			<div class="block">
			<div class="tags">
				<a href="" class="tag"> <span>28 February 2017</span> </a>
			</div>
			<div class="block_content">
				<div class="byline"></div>
				<p class="excerpt">
				<span>Exterior Painting &nbsp; &nbsp;<a href="#">View</a>&nbsp; &nbsp;<a href="#">Modify</a></span>
				</p>
			</div>
			</div>
		</li>
		</ul>
	</div>
</div>