<div class="dashboard-widget">
	<app-user-service-begin></app-user-service-begin>
	<div class="dashboard-widget-content">
		<div class="panel panel-default">
			<div class="panel-heading active">
				<h3 class="panel-title">
					<a style="font-size: 14px">
						<strong>Electric work</strong>
					</a>
				</h3>
			</div>
			<div class="panel-collapse">
				<div class="panel-body">
					<form class="form-inline pull-right" style="margin-bottom: 10px">
						<a routerLink="/dashboard/service-completed" class="btn btn-danger" title="Back"><i class="fa fa-angle-left fa-lg" style="padding-right: 5px"></i>Back</a>
					</form>
					<h3 style="color: black; font-size: 15px; font-weight: bold; margin: 0;">Closed on 09 December 2016.</h3>
					<ul class="list-unstyled timeline" style="margin-top: 10px;">
						<li>
							<div class="block">
								<div class="tags">
									<span class="tag">SCHEDULED</span>
								</div>
								<div class="block_content">
									<h2 class="title"><a>Job scheduled</a></h2>
									<div class="byline">
										<span>On 02 December 2016</span> by <a>System</a>
									</div>
									<p class="excerpt">Job scheduled automatically as per the contract given in your subscription. <a>View subscription</a></p>
								</div>
							</div>
						</li>
						<li>
							<div class="block">
								<div class="tags">
									<span class="tag">ACCEPTED</span>
								</div>
								<div class="block_content">
									<h2 class="title"><a>Job accepted</a></h2>
									<div class="byline">
										<span>On 02 December 2016</span> by <a>Admin</a>
									</div>
									<p class="excerpt">Job accepted and is ready to be assigned.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="block">
								<div class="tags">
									<span class="tag">ASSIGNED</span>
								</div>
								<div class="block_content">
									<h2 class="title"><a>Job assigned</a></h2>
									<div class="byline">
										<span>On 02 December 2016</span> by <a>Admin</a>
									</div>
									<p class="excerpt">Job assigned to Super Mario. Super Mario will be contacting you shortly. You can contact Super Mario at 9XXXXXXXXX.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="block">
								<div class="tags">
									<span class="tag">IN PROGRESS</span>
								</div>
								<div class="block_content">
									<h2 class="title"><a>Job started</a></h2>
									<div class="byline">
										<span>On 03 December 2016</span> by <a>Super Mario</a>
									</div>
									<p class="excerpt">Job started by Super Mario. Estimated date of completion set to 09 December 2016</p>
								</div>
							</div>
						</li>
						<li>
							<div class="block">
								<div class="tags">
									<span class="tag">ON HOLD</span>
								</div>
								<div class="block_content">
									<h2 class="title"><a>Job put on hold awaiting consent from customer</a></h2>
									<div class="byline">
										<span>On 03 December 2016</span> by <a>Super Mario</a>
									</div>
									<p class="excerpt">Job put on hold awaiting consent from customer to procure the following items:
										5 3-way sockets, 10 metres of wire, 7 bulbs and 8 rolls of insulation tape.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="block">
								<div class="tags">
									<span class="tag">IN PROGRESS</span>
								</div>
								<div class="block_content">
									<h2 class="title"><a>Job resumed</a></h2>
									<div class="byline">
										<span>On 04 December 2016</span> by <a>System</a>
									</div>
									<p class="excerpt">Arun resumed. Message content from Arun: You may proceed.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="block">
								<div class="tags">
									<span class="tag">IN PROGRESS</span>
								</div>
								<div class="block_content">
									<h2 class="title"><a>Items Procured</a></h2>
									<div class="byline">
										<span>On 04 December 2016</span> by <a>Super Mario</a>
									</div>
									<p class="excerpt">5 3-way sockets, 10 metres of wire, 7 bulbs and 8 rolls of insulation tape were procured by Super Mario.
										Estimated date of completion set to 09 December 2016.
									</p>
								</div>
							</div>
						</li>
						<li>
							<div class="block">
								<div class="tags">
									<span class="tag">COMPLETED</span>
								</div>
								<div class="block_content">
									<h2 class="title"><a>Job completed.</a></h2>
									<div class="byline">
										<span>On 06 January 2017</span> by <a>Super Mario</a>
									</div>
									<p class="excerpt">Job has been completed as per requirement. Awaiting feedback.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="block">
								<div class="tags">
									<span class="tag">AWAITING PAYMENT</span>
								</div>
								<div class="block_content">
									<h2 class="title"><a>Awaiting payment for closure</a></h2>
									<div class="byline">
										<span>On 06 January 2017</span> by <a>Admin</a>
									</div>
									<p class="excerpt">Message from Admin: Arun, if you are satisfied with the service, can you please provide feedback
										and also make a payment of 1800 rupees?
									</p>
								</div>
							</div>
						</li>
						<li>
							<div class="block">
								<div class="tags">
									<span class="tag">CLOSED</span>
								</div>
								<div class="block_content">
									<h2 class="title"><a>Payment received</a></h2>
									<div class="byline">
										<span>On 09 January 2017</span> by <a>System</a>
									</div>
									<p class="excerpt">Payment of 1800 rupees has been made. 
										Transaction details: BLABLABLA
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>