<div class="row">
	<div class="col-xs-12">
		<div style="border-bottom: 1px solid black;">
			<h1 class="dashboard-heading">Change Password</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<form role="form" #passwordChangeForm="ngForm" (ngSubmit)="onSubmit(); passwordChangeForm.reset();">
			<fieldset>
				<div id="message" *ngIf="response.flags.available" style="margin-top: 0"
					[attr.class]="response.flags.error ? 'error col-sm-8' : 'col-sm-8'">
					<div id="message-icon" [attr.class]="response.flags.error ? 'glyphicon glyphicon-remove error' : 'glyphicon glyphicon-chevron-right'"></div>
					<div id="message-text">
						<span>{{response.message}}</span>
						<ul *ngIf="response.fieldErrors.length > 0">
							<li *ngFor="let fieldError of response.fieldErrors">{{fieldError}}</li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
				<br/>

				<!-- Old Password -->
				<div class="form-group row has-success has-error has-feedback">
					<label for="" class="col-sm-3 control-label">Old Password *</label>
					<div class="col-sm-5">
						<input type="password" class="form-control" id="oldPassword" name="oldPassword"
							required [(ngModel)]="passwordDTO.oldPassword" #oldPassword="ngModel">

						<div *ngIf="oldPassword.errors && (oldPassword.dirty || oldPassword.touched)">
							<span [hidden]="oldPassword.valid || oldPassword.pristine"
								class="glyphicon glyphicon-remove form-control-feedback form-control-feedback-dashboard">
							</span>
							<div class="form-control-error-message">
								({{
									oldPassword.errors.required ? FormValidationMessageService.getRequiredMessage("Password")
									:""
								}})
							</div>
						</div>
					</div>
				</div>

				<!-- Password -->
				<div class="form-group row has-success has-error has-feedback">
					<label for="" class="col-sm-3 control-label">Password *</label>
					<div class="col-sm-5">
						<input type="password" class="form-control" id="password" name="password"
							required minlength="8" maxlength="15" [(ngModel)]="passwordDTO.password" #password="ngModel">

						<div *ngIf="password.errors && (password.dirty || password.touched)">
							<span [hidden]="password.valid || password.pristine"
								class="glyphicon glyphicon-remove form-control-feedback form-control-feedback-dashboard">
							</span>
							<div class="form-control-error-message">
								({{
									password.errors.required ? FormValidationMessageService.getRequiredMessage("Password")
									:password.errors.minlength ? FormValidationMessageService.getMinLengthMessage("Password",8)
									:password.errors.maxlength ? FormValidationMessageService.getMaxLengthMessage("Password",15)
									:''
								}})
							</div>
						</div>
					</div>
				</div>

				<!-- Confirm Password -->
				<div class="form-group row has-success has-error has-feedback">
					<label for="" class="col-sm-3 control-label">Retype Password *</label>
					<div class="col-sm-5">
						<input type="password" class="form-control" id="verifyPassword" name="verifyPassword"
							required [(ngModel)]="passwordDTO.verifyPassword" #verifyPassword="ngModel">

						<div *ngIf="(passwordDTO.verifyPassword != passwordDTO.password || verifyPassword.errors) && (verifyPassword.dirty || verifyPassword.touched)">
							<span [hidden]="verifyPassword.valid || verifyPassword.pristine"
								class="glyphicon glyphicon-remove form-control-feedback form-control-feedback-dashboard">
							</span>
							<div class="form-control-error-message">
								({{
									(passwordDTO.verifyPassword != passwordDTO.password) ? FormValidationMessageService.getPasswordMismatchMessage()
									: password.errors.required ? FormValidationMessageService.getRequiredMessage("Password")
									:''
								}})
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div>
						<button type="submit" class="btn btn-primary-dashboard"
							[disabled]="!passwordChangeForm.form.valid || response.flags.loading">
							<i class="fa fa-save" style="padding-right: 5px"></i>Update Password
						</button>
						<a routerLink="/admin-dashboard/profile-edit" class="btn btn-primary-dashboard">Edit Profile</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>